h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    text-align: left;
}

body {
    background-color: black;
}

article {
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    height: 75px;
    width: 800px;
    position: center;
}

footer {
    color: white;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    text-align: center;
}
.main-p{
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    color: rgb(0, 0, 0);
}

.husbandimg {
    width: 12%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(143, 31, 31);
    border-radius: 25px;
    box-shadow: 2px 2px;
}

.button {
    height: 75px;
    width: 175px;
    position: center;
    border-radius: 15px;
    border: 2px solid rgb(143, 31, 31);
    background-color: white;
    text-align: center;
    top: 50%;
    left: auto;
  }

  .container {
    display: flex;
    justify-content: center;
    padding: 3%;
    background-color: rgb(248, 233, 233);
  }

  .text {
      font-size: 18px;
      font-family: 'Josefin Sans', sans-serif;
      color: rgb(0, 0, 0);
      text-align: left;
  }

  .titleimg {
      height: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .textbox {
    right: 300px;
  }